 <% crate_songs.each do |crate_song| %>
  <div class="<%= crate_song.song.remix? ? "remix-card" : "song-card" %>">
    <div class="song-card-infos">
      <h3><strong> Artist:</strong> <%= crate_song.song.user.artist_name%></h3>
      <h2 class="text-nowrap"> <strong>Title:</strong> <%= crate_song.song.title%></h2>
      <p><strong>Genre:</strong> <%= crate_song.song.genre%> <strong> bpm:</strong> <%= crate_song.song.bpm%> <strong>Instruments:</strong> <%= crate_song.song.instruments%></p>
      <audio controls>
        <source src="<%=crate_song.song.audio_file.url %>" type="audio/wav">
      </audio>
      <%= link_to "Delete", crate_song_path(crate_song), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this song?" }, class: "btn delete-button" %>
    </div>
  </div>
<% end %>
