 <% @crate.crate_songs.each do |crate_song| %>
  <div class="song-card">
    <img src=  " <%=crate_song.song.photo.attached? ? cl_image_path(crate_song.song.photo.key) : "https://source.unsplash.com/random/?<#{crate_song.song.title.gsub(" ", " ")}" %> " alt="" class="songs-image">
    <div class="song-card-infos">
      <h3> <%= crate_song.song.user.artist_name%></h3>
      <h2> <%= crate_song.song.title%></h2>
      <p> #<%= crate_song.song.genre%> <strong> <%= crate_song.song.bpm%></strong> #<%= crate_song.song.instruments%></p>
      <%= link_to "Delete", crate_song_path(crate_song), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this song?" }, class: "btn delete-button" %>
    </div>
  </div>
</div>
<% end %>
