<div class="navbar navbar-expand-sm navbar-light navbar-lewagon flexbox fixed-top">
<div class="container">

<div class= "flexbox">
    <h1> <strong> FLIP IT! <strong></h1>
    <%= link_to '◎', root_path, class: 'nav-bar-link-logo'%>
    </div>

<div>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: root_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Genre, BPM..."
        %>
      <%= submit_tag "DIG", name: "", class: "search-button" %>
    <% end %>
  </div>
</div>

      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
          </li>
          <li class="nav-item">
          </li>



<%= link_to 'POST REMIX', root_path, class: 'nav-bar-link' %>
<%= link_to 'REMIX FEED', root_path, class: 'nav-bar-link' %>
 <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-bar-link" %>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
</div>
