 <% @songs.each do |song| %>
  <div data-controller="playlist-popup">
    <div class="<%= song.remix? ? "remix-card" : "song-card" %>">
      <% if song.remix?  %>
        <div class="remix-button">
          <strong>remix</strong>
        </div>
        <div class="remix-card-infos">
        </div>
      <% end %>
      <img src=  " <%=song.photo.attached? ? cl_image_path(song.photo.key) : "https://source.unsplash.com/random/?<#{song.title.gsub(" ", " ")}" %> " alt="" class="songs-image">
      <div class="song-card-infos">
        <h3><strong> Artist:</strong> <%= song.user.artist_name%></h3>
        <h2 class="text-nowrap"> <strong>Title:</strong> <%= song.title%></h2>
        <p><strong>Genre:</strong> <%= song.genre%> <strong> bpm:</strong> <%= song.bpm%> <strong>Instruments:</strong> <%= song.instruments%></p>
        <%= render 'songs/download_button', song: song %>
        <i class="fa-solid fa-circle-plus card-buttons" data-action="click->playlist-popup#appear"> </i>
      </div>
      <audio controls>
        <source src="<%=song.audio_file.url %>" type="audio/wav">
      </audio>
    </div>
    <%= render 'songs/playlist_form', song: song, crate_song: @crate_song %>
  </div>
<% end %>
