<% songs.each do |song| %>
  <div data-controller="playlist-popup">
    <div data-controller="play-button">
      <div class="song-card">
        <div class="song-audio">
          <audio controls style="display: none" data-play-button-target="audio">
            <source src="<%=song.audio_file.url %>" type="audio/wav" >
          </audio>
          <i class="fa-regular fa-circle-play play-button" style="color: #000000;" data-action="click->play-button#play" data-play-button-target="playButton"></i>
          <i class="fa-regular fa-circle-pause pause-button d-none" style="color: #000000;" data-action="click->play-button#pause" data-play-button-target="pauseButton"></i>
          <% if song.photo.attached? %>
            <%=cl_image_tag(song.photo.key)%>
          <% else %>
            <%=  image_tag "https://source.unsplash.com/random/?#{song.title.gsub(" ", " ")}" %>
          <% end %>
          <div class="bpm-sticker">
            <h2>  bpm: <%= song.bpm%></h2>
          </div>
        </div>
        <div class="song-card-infos" >
          <div class="song-pills">
            <span class="badge rounded-pill text-bg-info"> <%= song.genre%></span>
            <span class="badge rounded-pill text-bg-info"> <%= song.instruments%></span>
          </div>
          <div class= "flex-grow-1">
            <h3>Title:<%= song.title%></h3>
          </div>
          <div class="song-engagement">
            <%= render 'songs/download_button', song: song %>
            <i class="fa-solid fa-circle-plus card-buttons" data-action="click->playlist-popup#appear"> </i>
          </div>
        </div>
      </div>
      <%= render 'songs/playlist_form', song: song, crate_song: @crate_song %>
    </div>
  </div>
<% end %>
