 <% @songs.each do |song| %>
  <div data-controller="playlist-popup">
    <div class="<%= song.remix? ? "remix-card" : "song-card" %>" data-controller="playlist-popup">
      <p class="remix-button">remix</p>
      <img src=  " <%=song.photo.attached? ? cl_image_path(song.photo.key) : "https://source.unsplash.com/random/?<#{song.title.gsub(" ", " ")}" %> " alt="" class="songs-image">
      <div class="song-card-infos">
        <h3> <%= song.user.artist_name%></h3>
        <h2> <%= song.title%></h2>
        <p> <%= song.genre%> <strong> <%= song.bpm%></strong> #<%= song.instruments%></p>
        <%= render 'songs/download_button', song: song %>
        <button data-action="click->playlist-popup#appear" class='btn btn-primary'>add</button>
      </div>
      <audio controls>
        <source src="<%=song.audio_file.url %>" type="audio/wav">
      </audio>
    </div>
    <%= render 'songs/playlist_form', song: song, crate_song: @crate_song %>
  </div>
<% end %>
