<div data-controller="playlist-popup">
  <div data-controller="play-button">
    <div data-controller="play-slider">
      <div class="song-card">
        <div class="song-audio">
          <audio controls style="display: none" data-play-button-target="audio" data-play-slider-target="audio" data-action="timeupdate->play-slider#update">
            <source src="<%=song.audio_file.url %>" type="audio/wav" >
          </audio>
          <i class="fa-regular fa-circle-play play-button" style="color: #ffffff;" data-action="click->play-button#play" data-play-button-target="playButton"></i>
          <i class="fa-regular fa-circle-pause pause-button d-none" style="color: #ffffff;" data-action="click->play-button#pause" data-play-button-target="pauseButton"></i>
          <% if song.photo.attached? %>
            <%=cl_image_tag(song.photo.key)%>
          <% else %>
            <%=  image_tag "https://source.unsplash.com/random/?#{song.title.gsub(" ", " ")}" %>
          <% end %>
        </div>
        <div class="song-card-infos" >
          <div class="song-pills d-flex justify-content-between">
            <div class="p-2">
              <h3> <%= link_to user_path(song.user), class: "d-flex text-decoration-none hover-effect text-black"  do %><%= song.user.artist_name  %> <% end %> </h3>
            </div>
            <div>
              <div class="bpm-pills-button">
                <h2>  bpm <%= song.bpm%></h2>
              </div>
              <span class="info-pills-button"> <%= song.genre%></span>
              <span class="info-pills-button"> <%= song.instruments%></span>
            </div>
          </div>
          <div class= "flex-grow-1">
            <input type="range" id="play-slider" min="0" value="0" data-action="click->play-slider#timeupdate" data-play-slider-target="input">
            <div class="d-flex justify-content-between">
              <h3><%= link_to song_path(song), class: "text-decoration-none hover-effect text-black"  do %> Title: <%= song.title%> <% end %></h3>
              <div data-play-slider-target="duration" data-play-button-target="duration" data-action="click->play-slider#update">0:00</div>
            </div>
          </div>
          <div class="song-engagement d-flex align-items-center">
            <%= render 'songs/remix_button', song: song %>
            <%= render 'songs/download_button', song: song %>
            <% unless crate_song %>
              <i class="fa-solid fa-circle-plus card-buttons" data-action="click->playlist-popup#appear"> </i>
            <% end %>
            <%= render 'songs/share_button', song: song %>
            <% if crate_song %>
              <%= link_to "Delete", crate_song_path(crate_song), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this song?" }, class: "delete-button" %>
            <% end %>
          </div>
        </div>
      </div>
      <% unless crate_song %>
        <%= render 'songs/playlist_form', song: song, crate_song: @crate_song %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'songs/share_modal', song: song %>
<%= render 'songs/remix_form', song: song %>
