<div id="songs_form" >
  <%= simple_form_for [song] do |f| %>
    <%= f.input :title, as: :string %>
    <%= f.input :genre, as: :string %>
    <div class="range-wrap" data-controller="slider" >
      <div class="range-value" id="rangeV"></div>
      <label for="">bpm</label>
      <input id="range" type="range" min="50" max="400" value="50" step="1" name="song[bpm]">
    </div>
    <%= f.input :audio_file, as: :file, input_html: {value: ''} %>
    <%= f.input :photo, as: :file %>
   <%= f.button :submit, 'Upload remix', class: 'btn btn-primary' %>
  <% end %>
</div>
