<div id="songs_form">
<%= simple_form_for [@song] do |f| %>
  <%= f.input :title, as: :string, placeholder: 'Title' %>
  <%= f.input :genre, as: :string, placeholder: 'Genre' %>
  <%= f.input :bpm, as: :integer, placeholder: 'bpm' %>
  <%= f.input :instruments, as: :string, placeholder: 'Instruments' %>
  <%= f.input :audio_file, as: :file %>
  <%= f.input :photo, as: :file %>
  <%= f.submit class: 'btn btn-primary mt-2' %>
<% end %>
</div>
