<div id="songs_form" data-controller="alert">
  <%= simple_form_for [@song] do |f| %>
    <%= f.input :title, as: :string, placeholder: 'Title' %>
    <%= f.input :genre, as: :string, placeholder: 'Genre' %>
    <div class="range-wrap" data-controller="slider" >
      <div class="range-value" id="rangeV"></div>
      <label for="">bpm</label>
      <input id="range" type="range" min="50" max="400" value="50" step="10" name="song[bpm]">
    </div>
    <%= f.input :instruments, as: :check_boxes,
            collection_wrapper_tag: 'div',
            include_blank: false,
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'tag-item',
            input_html: {class: 'tag-selector'},
            collection: ["Guitar", "Bass", "Piano", "Drums", "Trombone", "Violin", "Harmonica", "Flute", "Cello", "Harp", "French Horn", "Trumpet", "Bagpipe", "Banjo"] %>
    <%= f.input :audio_file, as: :file %>
    <%= f.input :photo, as: :file %>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Remix?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><%= select_tag :base_id, options_from_collection_for_select(@songs, "id", "title"), include_blank: true %> </div>
        </div>
      </div>
    </div>
    <%= f.submit input_html: { data: { action: "click->alert#initSweetalert" } }, class: 'btn btn-primary mt-2' %>
  <% end %>
</div>
