<% songs.each do |song| %>
  <div data-controller="playlist-popup">
    <div class="remix-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=song.photo.attached? ? cl_image_path(song.photo.key) : "https://source.unsplash.com/random/?<#{song.title.gsub(" ", " ")}" %>); background-size:cover;">
      <div class="remix-card-infos">
        <h3><strong> Artist:</strong> <%= song.user.artist_name%></h3>
        <br>
        <h3 class= "text-nowrap"> bpm: <%= song.bpm%>-
          <strong>Genre:</strong>
          <%= song.genre%>-
          <strong>Instruments:</strong> <%= song.instruments%></h3>
        <h3>Title:<%= song.title%></h3>
      </div>
      <div class="remix-audio">
      <div data-play-button-target="audio">
        <audio controls >
          <source src="<%=song.audio_file.url %>" type="audio/wav">
        </audio>
        </div>
      </div>
      <%= render 'songs/playlist_form', song: song, crate_song: @crate_song%>
      <div class="remix-engagement">

        <p><%= song.title %>
          <i class="fa-solid fa-circle-plus card-buttons" data-action="click->playlist-popup#appear"> </i>
          <%= render 'songs/download_button', song: song %>
        </div>
        <%= render 'songs/playlist_form', song: song, crate_song: @crate_song%>%
      </div>
    </div>
  <% end %>
