<% songs.each do |song| %>
  <div class="remix-card " data-controller="playlist-popup play-button play-slider">
    <div class="remix-audio position-relative" >
      <input class="position-absolute" type="range" id="play-slider" min="0" value="0" data-action="click->play-slider#timeupdate" data-play-slider-target="input">
      <% if song.photo.attached? %>
        <%=cl_image_tag(song.photo.key)%>
      <% else %>
        <%=  image_tag "https://source.unsplash.com/random/?#{song.title.gsub(" ", " ")}" %>
      <% end %>
    </div>
    <div class="remix-card-infos">
      <i class="fa-regular fa-circle-play play-button" style="color: #ffffff;" data-action="click->play-button#play" data-play-button-target="playButton"></i>
      <i class="fa-regular fa-circle-pause pause-button d-none" style="color: #ffffff;" data-action="click->play-button#pause" data-play-button-target="pauseButton"></i>
      <div class="remix-pills justify-content-between">
        <div class="remix-bpm-sticker">
          <h2>  bpm <%= song.bpm%></h2>
        </div>
        <div>
          <div class= "artist-info">
            <h3> <%= link_to user_path(song.user), class: "no-decoration hover-effect"  do %> Artist: <%= song.user.artist_name  %> <% end %> </h3>
            <h3><%= link_to song_path(song), class: "no-decoration hover-effect"  do %> Title: <%= song.title%> <% end %></h3>
          </div>
          <p><%= link_to user_path(song.original.user),  class: "no-decoration hover-effect"  do %> Original Artist: <%= song.original.user.artist_name %> <% end %></p>
          <p><%= link_to song_path(song),  class: "no-decoration hover-effect"  do %> Original Track: <%= song.original.title%> <% end %></p>
          <span class="badge rounded-pill text-bg-info"> <%= song.genre%></span>
          <span class="badge rounded-pill text-bg-info"> <%= song.instruments%></span>
        </div>
      </div>
      <audio controls style="display: none" data-play-button-target="audio" data-play-slider-target="audio">
        <source src="<%=song.audio_file.url %>" type="audio/wav" >
      </audio>
      <div class="remix-engagement">
        <i class="fa-solid fa-circle-plus card-buttons" data-action="click->playlist-popup#appear"> </i>
        <%= render 'songs/download_button', song: song %>
      </div>
    </div>
    <%= render 'songs/playlist_form', song: song, crate_song: @crate_song%>
  </div>
<% end %>
